@charset "utf-8";
/* CSS Document */

.jqAccordian{
width: 220px; /*width of accordion menu*/
}

		.jqAccordian .header
        { /*CSS class for menu headers in general (expanding or not!)*/
		font: normal 10px Arial;
		color: #ffffff;
		background: #3e5ba9 url(titlebar.png) repeat-x center left;
		margin-bottom: 10px; /*bottom spacing between header and rest of content*/
		text-transform: none;
		padding: 10px 0 10px 10px; /*header text is indented 10px*/
		cursor: hand;
		cursor: pointer;
		/*border-top:dotted 1px;*/
		}


        .jqAccordian .header2
        { /*CSS class for menu headers in general (expanding or not!)*/
		font: normal 11px Arial;
		color: #535353;
		background: #fff url(titlebar.png) repeat-x center left;
		margin-bottom: 10px; /*bottom spacing between header and rest of content*/
		text-transform: none;
		padding: 0px 0 10px 20px; /*header text is indented 10px*/
		cursor: hand;
		cursor: pointer;
		border-bottom:dotted 1px;
		}





		
		.jqAccordian h3
        .jqAccordian2 h3
        {
		    font: normal 12px Arial;
		    padding: 5px 0px 0px 5px!important;
		    height:10px;
		    }
		
		
		.jqAccordian h3.head
        .jqAccordian2 h3.head
        {
		    font: normal 12px Arial;
		    padding: 5px 0px 0px 10px!important;
		    height:20px;
		    background-color:#3B5AAB;
		    color:#fff;
		    }
		
		
		
		
		.jqAccordian .headerOpen
        .jqAccordian2 .headerOpen
        { /*CSS class to apply to expandable header when it's expanded*/
		padding: 5px 0px 0px 5px!important;
		height:20px;
		background-color: #535353;
		color: #fff;


		}
		

		
		.jqAccordian p
        .jqAccordian2 p
        {
		    font-size:0.7em!important;
		    font-family: "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
	    
		}
		
		.accordianContent
        .accordianContent2
        {
		    font-size:11px !important;
		    font-family: "Gill Sans MT", "Trebuchet MS", Arial, Helvetica, sans-serif;
            padding: 0px 0px 20px 20px;
            border-bottom:dotted 1px;
			line-height:18px;
	    
		}
		
		
		
		
		
	/*PROJECT PAGE */	
		
		
	
		
		


